/* Button */
.button {
    border-radius: 8px;
    background-color: #9333ea;

    padding-inline: 40px;
    padding-block: 16px;

    color: var(--White, #fff);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;   /* 120% */
    letter-spacing: 0.5px;
}

.button--mini {
    font-size: 16px;
    padding-inline: 28px;
    padding-block: 12px;
    line-height: 1.5;
}

.button:hover {
    background-color: #6b24ae;
}

.button--transparent {
    background-color: transparent;
}

.button--transparent:hover
.button--white-border:hover {
    background-color: #6b24ae;
}

.button--white-border {
    background-color: transparent;
    border: 2px solid #fff;
    padding-block: 14px;
}

