@import url("reset.css");
@import url("components.css");

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #0f172a;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    block-size: 100%;

    overflow: clip;
}

.wrapper > main {
    flex-grow: 1;
}

/* Ограничивающий контейнер */

[class*="__container"] {
    max-inline-size: 1310px; /* = 1280 + 15 + 15 */
    margin-inline: auto;
    padding-inline: 15px;
}

/* Header */

.header {
    padding-block: 24px;
}

.header__container {}

.header__body {
    padding: 24px;
    column-gap: 46px;
    row-gap: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 
        0px 25px 50px -12px rgba(0, 0, 0, 0.25),
        0px 25px 15px 0px rgba(0, 0, 0, 0.07);
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    
}

.header__link-logo{
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    transition: color 0.3s;
}

.header__link-logo:hover {
    color: #aa51fe;
}



.header__menu {}

.menu {}

.menu__body {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.menu__item {}

.menu__link {
    color: var(--White, #fff);

    /* Button */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;  /* 150% */
    letter-spacing: 0.5px;
    transition: color 0.3s;

}

.menu__link:hover {
    color: #aa51fe;
}

.header__actions {}

.actions-header {
    display: flex;
    column-gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.actions-header__button {}

.icon-menu {
    display: none;
}

/* Граница планшетов */

@media (max-width: 991.98px) {
    .header {
        padding-block: 15px;
    }

    .header__body {
        padding: 15px;
        column-gap: 25px;
    }

    .menu__list {
        column-gap: 20px;
    }

    .actions-header {
        column-gap: 10px;
    }

    .actions-header__button.button--mini {
        padding-inline: 15px;
    }
}

/* Смартфоны */

@media (max-width: 767.98px) {
    .menu {
        position: fixed;
        inset-inline-start: 0;
        inset-block-start: 0;
        block-size: 100%;
        inline-size: 100%;
    }

    .icon-menu {
        display: block;
        position: relative;
        inline-size: 48px;
        block-size: 48px;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        block-size: 2px;
        inline-size: 100%;
        background-color: #fff;
    }
    .icon-menu span{

    }
    .icon-menu::before,
    .icon-menu::after {
        inline-size: 15px;

    }
    .icon-menu::before {
        inset-inline-start: 14px;
        inset-block-start: 10px;
    }

    .icon-menu::after {
        inset-inline-end: 14px;
        inset-block-end: 10px;
    }

    .icon-menu span {
        inline-size: 28px;
    }


    .header__body {
        padding-block: 8px;
        padding-inline: 24px;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}